.success-card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  
  .user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details {
    flex-grow: 1;
  }
  
  .user-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .user-gender {
    font-size: 16px;
    color: #666;
  }